@import url("https://fonts.googleapis.com/css?family=Asap:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
* {
  font-family: "Asap", sans-serif; }

.btn {
  font-family: "Asap", sans-serif;
  font-weight: 700;
  background-color: #49b9e6;
  border: 0;
  padding: 12px 32px; }
  .btn:hover {
    background-color: #33b0e3; }

.details-header {
  font-weight: 700;
  font-size: 3em; }

header {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00a3e4;
  color: #fff; }
  header h1 {
    padding-top: 200px;
    font-weight: 700;
    letter-spacing: 2px; }
  header p {
    letter-spacing: 1px; }
  header .sign {
    margin-top: -8px; }
    header .sign span {
      font-family: "Great Vibes", cursive;
      font-size: 1.3em; }
  header .main {
    max-height: 650px; }
    header .main img {
      margin-bottom: -45px; }
  header .social {
    height: 100px;
    background-color: rgba(23, 155, 207, 0.7);
    border-top: 2px solid #179bcf; }
    header .social p {
      font-size: 0.8em; }
      header .social p span > img {
        display: inline-block;
        margin-top: -4px; }

.features {
  background-color: #0084b8; }
  .features h5 {
    font-size: 2.5em;
    font-weight: 700; }
  .features p {
    letter-spacing: 0.5px;
    margin-top: -4px; }

.details .olg {
  padding-top: 130px; }
  .details .olg img {
    margin-top: 60px; }
  .details .olg .quote {
    background-color: #ecf0f1;
    padding: 30px 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 400;
    font-style: italic;
    color: #545555;
    width: 490px; }
    .details .olg .quote img {
      position: absolute;
      top: 240px;
      right: 40px;
      background-color: #e6ba8c;
      border-radius: 50%;
      width: 55px;
      height: 55px;
      border: 5px solid #fff; }
  .details .olg .quote-source {
    color: #00a3e4;
    letter-spacing: 0.5px;
    padding-left: 30px;
    padding-top: 15px; }

.details .ffp {
  padding-top: 120px;
  padding-bottom: 80px; }
  .details .ffp h2 {
    padding-top: 50px; }

.our-team {
  background-color: #ecf0f1;
  padding-top: 120px;
  padding-bottom: 120px; }
  .our-team h3 {
    font-weight: 700; }
  .our-team h4 {
    font-style: italic;
    font-size: 1.4em;
    color: #545555; }
  .our-team p {
    color: #545555;
    padding-left: 3.7em;
    padding-right: 3.7em;
    min-height: 9em; }
  .our-team a {
    color: #00a3e4; }
    .our-team a:hover {
      color: #007fb1;
      text-decoration: none; }

.message {
  background-color: #f1c40f; }
  .message h4 {
    font-weight: 700; }
    .message h4 i {
      padding-left: 20px;
      font-size: 1.3em;
      display: inline-block;
      margin-top: px;
      position: relative;
      top: 3px; }

footer {
  background-color: #d8af0c;
  padding-top: 50px;
  padding-bottom: 20px; }
  footer h6 {
    font-size: 1.18em;
    font-weight: 700; }
    footer h6 i {
      font-size: 2em !important;
      position: relative;
      top: 5px; }
      footer h6 i.fa-envelope {
        margin-right: 10px; }
      footer h6 i.fa-skype {
        margin-right: 10px; }
      footer h6 i.fa-map-marker {
        margin-right: 20px; }
  footer div {
    padding-left: 50px; }
  footer .sign {
    margin-top: -8px; }
    footer .sign span a, footer .sign span {
      font-family: "Great Vibes", cursive;
      color: #fff;
      text-decoration: none;
      font-size: 1.166em; }

@media (max-width: 767px) {
  header h1 {
    padding-top: 50px !important; }
  header .btn {
    margin-bottom: 20px !important; }
  .details .olg .quote {
    width: 100%;
    margin: 0 auto; }
    .details .olg .quote img {
      display: none; }
  .olg, .ffp {
    padding-top: 0px !important;
    text-align: center; }
  .ffp .btn {
    margin-bottom: 35px; }
  .our-team {
    padding-top: 20px;
    padding-bottom: 40px; }
    .our-team p {
      min-height: 4em !important; }
    .our-team img {
      margin-top: 40px; } }

@media (max-width: 991px) {
  header h1 {
    padding-top: 100px; }
  .details .olg .quote {
    width: 350px; }
    .details .olg .quote img {
      top: 365px !important;
      right: -34px !important; }
  .our-team p {
    padding-left: 0;
    padding-right: 0;
    min-height: 10em; } }

@media (max-width: 1182px) {
  header .main img {
    margin-bottom: -25px; }
  .details .olg .quote img {
    top: 240px;
    right: -45px; } }
