// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    //header 
    header{ 
        h1 {
            padding-top: 50px !important;
        }

        .btn {
            margin-bottom: 20px !important;
        }
    }

    //details
    .details {
        .olg {
            .quote {
                width: 100%;
                margin: 0 auto;
                img {
                    display: none;
                }
            }
        }
    }

    .olg, .ffp {
        padding-top: 0px !important;
        text-align: center;
    }

    .ffp {
        .btn {
            margin-bottom: 35px;
        }
    }

    //our team
    .our-team {
        padding-top: 20px;
        padding-bottom: 40px;

        p {
            min-height: 4em !important;
        }

        img {
            margin-top: 40px;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    //header 
    header{ 
        h1 {
            padding-top: 100px;
        }
    }

     //details
     .details {
        .olg {
            .quote {
                width: 350px;
                img {
                    top: 365px !important;
                    right: -34px !important;
                }
            }
        }
    }

    //our team
    .our-team {
        p {
            padding-left: 0;
            padding-right: 0;
            min-height: 10em;
        }
    }

    //footer
    footer {
        h6 {
            font-size: 1em !important;
        }

        div {
            padding-left: 0px;
        }
    }
}

//custom breakpoint
@media (max-width: 1182px) {
    //header
    header {
        .main {
            img {
                margin-bottom: -25px;
            }
        }
    }

    //details
    .details {
        .olg {
            .quote {
                img {
                    top: 240px;
                    right: -45px;
                }
            }
        }
    }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width