@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

//basic styles
* {
    font-family: $main-font-family;
}

.btn {
    font-family: $main-font-family;
    font-weight: 700;
    background-color: $light-blue;
    border: 0;
    padding: 12px 32px;

    &:hover {
        background-color: darken($color: $light-blue, $amount: 5)
    }
}


.details-header {
    font-weight: 700;
    font-size: 3em;
}


//header
header {
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: $header-blue;
    color: #fff;

    h1 {
        padding-top: 200px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    p {
        letter-spacing: 1px;
    }

    .sign {
        margin-top: -8px;
        span {
            font-family: $script-font-family;
            font-size: 1.3em;
        }
    }

    .main {
        max-height: 650px;

        img {
            margin-bottom: -45px;
        }
    }

    .social {
        height: 100px;
        background-color: rgba($color: $dark_blue, $alpha: 0.7);
        border-top: 2px solid $dark_blue;

        p {
            font-size: 0.8em;
            
            span > img {
                display: inline-block;
                margin-top: -4px;
            }
        }
    }

    
}
//end header

//features section
.features {
    background-color: $dark-blue-2;

    h5 {
        font-size: 2.5em;
        font-weight: 700;
    }

    p {
        letter-spacing: 0.5px;
        margin-top: -4px;
    }
}
//end features section

//details
.details {
    .olg {
        padding-top: 130px;
        
        img {
            margin-top: 60px;
        }

        .quote {
            background-color: $grey;
            padding: 30px 30px;
            padding-bottom: 10px;
            border-radius: 10px;
            font-weight: 400;
            font-style: italic;
            color: $dark-grey;
            width: 490px;

            img {
                position: absolute;
                top: 240px;
                right: 40px;
                background-color: $brown;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                border: 5px solid #fff;
            }
        }

        .quote-source {
            color: $header-blue;
            letter-spacing: 0.5px;
            padding-left: 30px;
            padding-top: 15px;
        }
    }


    .ffp {
        padding-top: 120px;
        padding-bottom: 80px;

        h2 {
            padding-top: 50px;
        }
    }


}
//end details

//our team
.our-team {
    background-color: $grey;
    padding-top: 120px;
    padding-bottom: 120px;

    h3 {
        font-weight: 700;
    }

    h4 {
        font-style: italic;
        font-size: 1.4em;
        color: $dark-grey;
    }

    p {
        color: $dark-grey;
        padding-left: 3.7em;
        padding-right: 3.7em;
        min-height: 9em;
    }

    a {
        color: $header-blue;

        &:hover {
            color: darken($header-blue, 10);
            text-decoration: none;
        }
    }
}
//end our team

//share
.message {
    background-color: $yellow;
    h4 {
        font-weight: 700;
        i {
            padding-left: 20px;
            font-size: 1.3em;
            display: inline-block;
            margin-top: px;
            position: relative;
            top: 3px;
        }
    }
    
}
//end share


//responsive

@import 'responsive';